.basket {
  position: relative;

  &::before {
    font-family: "Poiret One", sans-serif;
    content: attr(data-content);
    background-color: $color-red-light;
    position: absolute;
    right: 0.7rem;
    top: 0.2rem;
    font-size: 1.2rem;
    color: $color-white;
    width: 1.8rem;
    height: 1.8rem;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    line-height: 1.4;
    padding: 0.6px;
    display: none;
  }

  &--active::before {
    display: flex;
  }
}