.btn {
  display: flex;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  height: 4.3rem;
  align-items: center;
  border: none;
  font-family: inherit;
  outline: none;
  white-space: nowrap;

  &--pink {
    background-color: $color-pink-dark;
  }

  &--green {
    background-color: $color-green;
  }

  &--red {
    background-color: $color-red-light;
    color: $color-white;
    font-weight: normal;
  }

  &--icon {
    height: 4.2rem;
    width: 4.2rem;
    @include alignment-vertical();
  }

  &--with-icon {
    span {
      padding-right: 1.8rem;
    }
  }
}