.btn {
  display: flex;
  font-size: 2rem;
  padding: 1rem 2.9rem;
  cursor: pointer;
  height: 4.3rem;
  align-items: center;
  border: none;
  font-family: inherit;
  outline: none;
  white-space: nowrap;

  @media screen and (max-width: 46.875em){
    font-size: 2.25rem;
    padding: 1.25rem 2.5rem;
    height: 5.25rem;
  }

  &--pink {
    background-color: $color-pink-dark;
  }

  &--green {
    background-color: $color-green;
  }

  &--red {
    background-color: $color-red-light;
    color: $color-white;
    font-weight: 600;
  }

  &--icon {
    height: 4.2rem;
    width: 4.2rem;
    @include alignment-vertical();
    padding: 1rem;

    @media screen and (max-width: 46.875em){
      height: 5.25rem;
      width: 5.25rem;
      z-index: 2;
      position: relative;
    }
  }

  &__icon {
    max-width: 3rem;
    max-height: 3rem;
  }

  &--with-icon {
    text-decoration: none;
    color: inherit;

    span {
      padding-right: 1.8rem;
    }

    @media screen and (max-width: 38.125em){
      margin: auto;
    }
  }
}