.cost {
  display: flex;
  align-items: baseline;
  color: $color-primary-dark;

  &__price {
    font-size: 3.3rem;
  }

  &__portion {
    font-size: 2rem;
    margin-left: 2.5rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: -1.2rem;
      background-color: $color-primary-dark;
      width: 1px;
      height: 2.5rem;
    }
  }
}