.cost {
  display: flex;
  align-items: baseline;
  color: $color-primary-dark;

  &__price {
    font-size: 3.3rem;

    &--new {
      color: $color-red;

      & span:first-child {
        font-size: 5rem
      }
    }

    &--old {
      text-decoration: line-through;
      margin-right: 1.3rem;
    }
  }

  &__portion {
    font-size: 2rem;
    margin-left: 2.5rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: -1.2rem;
      background-color: $color-primary-dark;
      width: 1px;
      height: 2.5rem;
    }
  }

  &--black {
    color: $color-black;

    .cost__portion::before {
      background-color: $color-black;
    }
  }
}