.news-item {
  @include col-1-of-2($news-gutter-horizontal, $news-gutter-vertical);

  @media screen and (max-width: 46.875em){
    width: 100%;
    margin-right: 0;
    height: 100%;
  }

  &:not(:last-child) {
    @media screen and (max-width: 46.875em){
      margin-bottom: 7.5rem;
    }
  }

  &--large {
    background-image: url("../img/Rectangle 16.png");
    background-size: cover;
    background-position: top left;
    max-width: 135.2rem;
    height: 50.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 2.7rem 2.6rem 0;
    width: 100%;

    @media screen and (max-width: 58.75em){
      max-width: 106.2rem;
      height: 43.5rem;
    }

    @media screen and (max-width: 46.875em){
      position: relative;
      height: 37.625rem;
    }

    .news-item__inner {
      @media screen and (max-width: 46.875em){
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
        padding-bottom: 30px;
      }
    }
  }

  &__info {
    background-color: $color-white;
    padding: 1rem;
    margin-bottom: 2.5rem;
  }

  &__inner {
    text-align: right;
    max-width: 57.9rem;
    margin: 0 0 0 auto;
  }

  &__title {
    font-size: 5rem;
    color: $color-black;
    font-weight: normal;
  }

  .cost, .quantity {
    justify-content: flex-end;
  }

  .quantity {

    &__inner > span {
      @media screen and (max-width: 53.125em){
        display: none;
      }
    }
  }

  &__image {
    max-width: 65.6rem;
    max-height: 40rem;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 67.1875em){
      max-width: 60.6rem;
      max-height: 34rem;
    }

    @media screen and (max-width: 58.75em){
      max-width: 50.6rem;
      max-height: 28rem;
    }

    @media screen and (max-width: 46.875em){
      max-width: 100%;
      max-height: 37.625rem;
      height: 37.625rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.news-list {
  max-width: 135.2rem;
  width: 100%;
}