.pagination {
  justify-content: center;
  margin: auto;
  display: flex;
  color: $color-black;

  @media screen and (max-width: 38.125em){
    flex-direction: column;
  }

  &__inner {
    margin-right: 7rem;
    display: flex;
    align-items: center;

    @media screen and (max-width: 38.125em){
      width: 100%;
      margin-right: 0;
      justify-content: space-between;
      margin-bottom: 6.25rem;
    }
  }

  &__curent-position {
    margin-left: 3.5rem;
    margin-right: 6.5rem;
    position: relative;

    &::after {
      content: '';
      top: 50%;
      right: -5.5rem;
      position: absolute;
      width: 4.5rem;
      height: 1px;
      background-color: $color-black;
    }
  }

  &__last-position {
    margin-right: 3.5rem;
  }

  &__curent-position, &__last-position {
    padding: 0 1rem;
  }

  &__info {
    font-size: 3.33rem;
    line-height: 3.9rem;

    @media screen and (max-width: 38.125em){
      font-size: 4.1666625rem;
    }
  }
}