.quantity {
  display: flex;
  align-items: center;

  &__inner {
    display: flex;
    font-size: 2rem;
  }

  &__controls {
    display: flex;
  }

  &__plus, &__minus {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__info {
    color: $color-black;
    padding: 0 1rem;

    span:first-child {
      padding-right: .6rem;
    }
  }
}