.quantity {
  display: flex;
  align-items: center;

  &__inner {
    display: flex;
    font-size: 2rem;
    padding: .45rem 2rem;
    background-color: $color-white;

    & > span {
      margin-right: 2rem;
    }
  }

  &__controls {
    display: flex;
  }

  &__plus, &__minus {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__info {
    color: $color-black;
    padding: 0 1rem;
    white-space: nowrap;

    span:first-child {
      padding-right: .6rem;
    }
  }
}