.checkbox {
  display: flex;
  margin-right: 1.9rem;

  &__title {
    font-size: 2rem;
    color: $color-black;
    background-color: $color-white;
    padding: 0 2.4rem;
    line-height: 2;
  }
}

.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  height: 4.3rem;
  width: 4rem;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 4.3rem;
  width: 4rem;
  background-color: $color-green;
  @include alignment-vertical;

  svg {
    display: none;
  }
}

.checkbox-container input:checked ~ .checkmark {
  svg {
    display: block;
  }
}