.checkbox {
  display: flex;
  margin-right: 1.9rem;

  &__title {
    font-size: 2rem;
    color: $color-black;
    background-color: $color-white;
    padding: 0 2.4rem;
    line-height: 2;
    height: 4.3rem;

    @media screen and (max-width: 46.875em){
      height: 5.25rem;
      display: flex;
      align-items: center;
    }

    @media screen and (max-width: 31.25em) {
      font-size: 2.5rem;
    }
  }
}

.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  height: 4.3rem;
  width: 4rem;

  @media screen and (max-width: 46.875em){
    height: 5.25rem;
    width: 5rem;
  }
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 4.3rem;
  width: 4rem;
  background-color: $color-green;
  @include alignment-vertical;

  @media screen and (max-width: 46.875em){
    height: 5.25rem;
    width: 5rem;
  }

  svg {
    display: none;
  }
}

.checkbox-container input:checked ~ .checkmark {
  svg {
    display: block;
  }
}