.tabs {
  display: flex;
  justify-content: space-between;
  @include reset-list();

  flex-wrap: wrap;
  margin: auto;

  &__item {
    color: $color-black;
    font-size: 2.2rem;
    line-height: 2.6rem;
    cursor: pointer;
    margin-top: 2rem;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &--active {
      font-size: 3.3rem;
      border-bottom: 2px solid rgba(51, 51, 51, 0.5);
      padding-bottom: 1.5rem;
    }
  }

  &__prev, &__next {
    display: none;
  }
}