.tabs {
  display: flex;
  justify-content: space-between;
  @include reset-list();

  flex-wrap: wrap;
  margin: auto;
  position: relative;
  transition: .5s all;

  @media screen and (max-width: 41.25em){
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  @media screen and (max-width: 41.25em){
    padding: 0;
    justify-content: flex-start;
  }


  &__item {
    color: $color-black;
    font-size: 2.2rem;
    line-height: 2.6rem;
    cursor: pointer;
    margin-top: 2rem;

    @media screen and (max-width: 41.25em){
      margin: 0;
      //white-space: nowrap;
      font-size: 2.75rem;
    }

    &:not(:last-child) {
      margin-right: 2rem;

      @media screen and (max-width: 41.25em){
        margin-right: 4.5rem;
      }
    }

    &--active {
      font-size: 3.3rem;
      border-bottom: 2px solid rgba(51, 51, 51, 0.5);
      padding-bottom: 1.5rem;

      @media screen and (max-width: 41.25em){
        display: block;
        font-size: 2.75rem;
      }
    }
  }
}

.tabs-next-btn, .tabs-prev-btn {
  display: none;

  @media screen and (max-width: 41.25em){
    display: block;
  }
}

.tabs-wrapper {
  position: relative;
  margin-bottom: 6.375rem;
  z-index: 1;

  @media screen and (max-width: 41.25em){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.tabs-inner {
  @media screen and (max-width: 41.25em){
    margin-left: 2.375rem;
    position: relative;
    width: 100%;
  }
}