.testimonial {
  display: flex;

  @media screen and (max-width: 37.5em) {
    flex-direction: column;
    max-width: calc(100% - 20.25rem);
  }

  &__image {
    max-height: 19.7rem;
    max-width: 19.7rem;
    height: 100%;
    width: 100%;
    flex: none;

    @media screen and (max-width: 100.6875em) {
      max-height: 16.7rem;
      max-width: 16.7rem;
    }

    @media screen and (max-width: 37.5em) {
      max-height: 20.25rem;
      max-width: 20.25rem;
    }

    img {
      width: 100%;
      height: 100%;

      @media screen and (max-width: 37.5em) {
        height: 20.25rem;
        width: 20.25rem;
      }
    }

    span {
      background-color: $color-pink;
      display: inline-block;
      height: 100%;
      width: 100%;
      @include alignment-vertical;
      font-size: 11.3rem;
      color: $color-white;

      @media screen and (max-width: 37.5em) {
        font-size: 11.95rem;
      }
    }
  }

  &__body {
    margin-left: 2rem;

    @media screen and (max-width: 37.5em) {
      margin-top: 2.125rem;
      margin-left: 0;
    }
  }

  &__name {
    font-size: 3.3rem;

    @media screen and (max-width: 37.5em) {
      font-size: 3.625rem;
    }
  }

  &__rating {
    font-size: 3.3rem;

    @media screen and (max-width: 37.5em) {
      font-size: 3.625rem;
    }
  }

  &__rating-current {
    color: $color-yellow;
  }
}

.swiper-slide-next .testimonial__body {
  position: relative;

  @media screen and (max-width: 37.5em) {
    display: none;
  }
}

.swiper-slide-active .testimonial__body {
  position: relative;

  .testimonial__description {
    @media screen and (max-width: 37.5em) {
      position: absolute;
      width: 90vw;
    }
  }
}