.delivery
    form.delivery__inner
        span.delivery__title='Введіть дані для доставки'
        .row.delivery__row
            input(placeholder="Ім’я" name='name').input.input--name
            input(placeholder="+380 -- -- -- ---" name='phone-number' data-mask="+380 00 00 00 000").input.input--phone-number
            input(placeholder="Вулиця" name='street').input.input--street
            input(placeholder="Будинок  ---" name='building' data-mask="Будинок 000").input.input--building
            input(placeholder="Квартира  ---" name='apartment' data-mask="Квартира  000").input.input--apartment
            input(placeholder="Коментар до замовлення" name='comment').input.input--comment
        .row.delivery__row
            .checkbox
                label.checkbox-container
                    input(type='radio' checked='checked' name='radio')
                    span.checkmark
                        <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 8L7.5 14.5L21 1" stroke="black"/>
                        </svg>
                span.checkbox__title='Готівка'
            .checkbox
                label.checkbox-container
                    input(type='radio' name='radio')
                    span.checkmark
                        <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 8L7.5 14.5L21 1" stroke="black"/>
                        </svg>
                span.checkbox__title='Картою Online'
            button(type='button').btn.btn--green='ПІДТВЕРДИТИ ЗАМОВЛЕННЯ'