.booking {
  background-color: $color-pink-light;
  padding: 8.7rem 0 4.2rem 2rem;

  &__inner {
    margin: auto;
    max-width: 135.2rem;
    text-align: left;
  }
}

.booking-form {
  display: flex;
  margin-top: 1.5rem;
  flex-wrap: wrap;

  > * {
    margin-top: 2rem;
  }
}