.company-info {
  width: 100%;

  @media screen and (max-width: 108.125em){
    padding-left: 2rem;
  }

  @media screen and (max-width: 85em){
    margin: 0;
  }

  @media screen and (max-width: 47.1875em){
    padding-left: 0;
  }

  &__title {
    display: inline-block;
    padding-bottom: 4.8rem;

    @media screen and (max-width: 47.1875em){
      width: 100%;
      text-align: center;
      padding-bottom: 5.75rem;
    }

    @media screen and (max-width: 31.25em) {
      text-align: left;
    }
  }

  &__inner {
    background-image: url("../img/Subtract_2.png");
    background-size: cover;
  }

  &__top {
    padding: 11.1rem 0 3.5rem 0;
    font-size: 2rem;
    margin: 0 0 0 auto;
    max-width: 169.6rem;

    @media screen and (max-width: 85em){
      padding-left: 2rem;
    }

    @media screen and (max-width: 60.3125em) {
      padding-right: 2rem;
    }

    @media screen and (max-width: 47.1875em){
      padding: 0;
    }
  }

  &__bottom {
    height: 24.8rem;
    margin: 0 0 0 auto;
    max-width: 169.6rem;

    @media screen and (max-width: 85em){
      padding-left: 2rem;
    }

    @media screen and (max-width: 47.1875em){
      flex-direction: column;
      height: 100%;
      padding-left: 0;
    }
  }

  &__map{
    iframe {
      width: 100%;
      height: 100%;
    }

    @media screen and (max-width: 47.1875em){
      height: 30rem;
    }

    @media screen and (max-width: 31.25em){
      height: 21.875rem;
    }
  }

  &__location {
    color: $color-black;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 47.1875em){
      padding: 1.875rem 0 1.875rem 2.5rem;
    }
  }

  &__city {
    font-size: 3.3rem;

    @media screen and (max-width: 47.1875em){
      font-size: 2.5rem;
    }
  }

  &__street {
    font-size: 5.17rem;

    @media screen and (max-width: 85em){
      font-size: 4.17rem;
    }

    @media screen and (max-width: 47.1875em){
      font-size: 4.125rem;
    }
  }

  &__city, &__street {
    display: block;
  }
}

.work-schedule {
  @media screen and (max-width: 60.3125em){
    flex: 1;
  }

  @media screen and (max-width: 31.25em) {
    max-width: 36.5rem;
    margin: auto;
  }
}

.contact-wrapper {
  @media screen and (max-width: 47.1875em){
    margin-right: 0;
  }

  @media screen and (max-width: 32.5em){
    margin: 0 2.5rem 0 2.5rem;
  }
}

.work-schedule {
  @include reset-list;

  &__item {
    display: flex;
    justify-content: space-between;
    max-width: 27.1rem;
    color: $color-black;

    @media screen and (max-width: 47.1875em){
      margin: auto;
      max-width: 38.1rem;
    }
  }
}

.contacts {
  @include reset-list;
  color: $color-black;

  @media screen and (max-width: 32.5em){
    margin-left: 3.875rem;
  }

  &__item a {
    @include reset-links;
  }
}

.contact-inner {
  max-width: 55.2rem;
  width: 100%;

  @media screen and (max-width: 47.1875em){
    margin: auto;
    max-width: 56.2rem;
  }
}

.contact-form {
  margin-top: 3rem;

  .input--name {
    max-width: 15.2rem;

    @media screen and (max-width: 31.25em){
      max-width: calc(40% - (2.375rem / 2));
      margin-right: 2.375rem;
    }
  }

  .input--phone-number {
    max-width: 18.4rem;

    @media screen and (max-width: 31.25em){
      max-width: calc(60% - (2.375rem / 2));
      margin-right: 0;
    }
  }

  .btn {
    @media screen and (max-width: 31.25em){
      margin-top: 2.875rem;
    }
  }

  .company-info__title {
    padding-bottom: 0;
  }

  .textarea {
    margin-bottom: 1.3rem;
  }
}

.contact-wrapper {
  @media screen and (max-width: 31.25em){
    padding: 0 2rem 0 2rem
  }
  .company-info__title {
    padding-bottom: 1rem;
  }

  .company-info__title {
    @media screen and (max-width: 31.25em){
      padding-left: 3.875rem;
    }
  }
}

.contact-wrapper,
.work-schedule,
.company-info__location,
.company-info__map {
  width: 50%;

  @media screen and (max-width: 47.1875em){
    width: 100%;
  }
}

.contact-wrapper,
.work-schedule {
  @media screen and (max-width: 60.3125em){
    width: auto;
  }

  @media screen and (max-width: 47.1875em){
    font-size: 2.5rem;
    width: 100%;
    margin: auto auto 4.5rem auto;
  }
}