.dashboard {
  max-width: 144rem;
  margin: 14.6rem auto auto auto;
  padding-right: 2rem;

  @media screen and (max-width: 93.125em){
    margin: 14.6rem auto auto 2rem;
  }

  @media screen and (max-width: 46.875em){
    margin: 4.125rem 0 0 0;
    padding-right: 0;
  }
}

.dashboard-container {
  display: flex;

  @media screen and (max-width: 46.875em){
    flex-direction: column;
  }

  &:last-child {
    @media screen and (max-width: 46.875em){
      margin-top: 37.5rem;
    }

    @media screen and (max-width: 31.25em){
      margin-top: 36.625rem;
    }
  }

  &:not(:last-child) {
    margin-bottom: 4.3rem;
  }
}

.dashboard-title {
  color: $color-primary;
  font-size: 5rem;
  position: relative;
  width: 4%;

  @media screen and (max-width: 46.875em){
    width: 100%;
    padding-left: 4.125rem;
  }

  @media screen and (max-width: 31.25em){
    font-size: 4.125rem;
    padding-left: 2.5rem;
    padding-bottom: 3rem;
  }

  span {
    position: relative;
    white-space: nowrap;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
    line-height: 2rem;

    @media screen and (max-width: 46.875em){
      transform: none;
      writing-mode: horizontal-tb;
      text-align: left;
    }
  }
}