.delivery {
  background-color: $color-pink;
  padding: 5.9rem 0 6.3rem;

  @media screen and (max-width: 109.375em){
    padding-left: 2rem;
  }

  .delivery__inner {
    max-width: 167.7rem;
    margin: auto;
  }

  &__title {
    color: $color-primary;
    font-size: 3.3rem;
    display: inline-block;
  }

  &__row:not(:last-child) {
    input {
      margin-right: 1.9rem;
      margin-top: 2.5rem;
    }
  }

  &__row {
    @media screen and (max-width: 27.875em) {
      flex-direction: column;
    }

    .input--street, .input--comment {
      @media screen and (max-width: 27.875em) {
        max-width: 34rem;
      }
    }

    .btn--green {
      @media screen and (max-width: 27.875em) {
        margin-right: auto;
      }
    }

    &:last-child > * {
      margin-top: 2.5rem;
      max-width: 100%;
    }
  }

  .input--phone-number {
    @media screen and (max-width: 27.875em) {
      max-width: 25.3rem;
    }
  }
}