.delivery {
  background-color: $color-pink-light;
  padding: 5.9rem 0 6.3rem;

  .delivery__inner {
    max-width: 167.7rem;
    margin: auto;
  }

  &__title {
    color: $color-primary;
    font-size: 3.3rem;
    margin-bottom: 2.5rem;
    display: inline-block;
  }

  &__row:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}