.gallery {
  box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.09);

  @media screen and (max-width: 41.25em){
    padding-top: 7.5rem;
  }
}

.gallery-container {
  width: 100%;
  height: 100%;
  line-height: 0;
  display: none;

  &--active {
    display: block;
  }
}

.gallery-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  img {
    width: 48.1rem;
    height: 47.7rem;
    object-fit: cover;

    @media screen and (max-width: 63.125em){
      width: 42.1rem;
      height: 41.7rem;
    }

    @media screen and (max-width: 35.625em){
      width: 34.625rem;
      height: 31.375rem;
    }

    @media screen and (max-width: 23.5625em){
      width: 23.625rem;
      height: 23.375rem;
    }
  }
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{
  content: '';
}

.gallery-button-prev, .swiper-container-rtl .gallery-button-next {
  left: 0;
}

.gallery-button-prev, .gallery-button-next {
  right: 0;
}

.gallery-button-prev, .gallery-button-next {
  background-color: $color-white;
  width: 4.2rem;
  height: 13.2rem;
  transform: translateY(-50%);
}

.gallery {

  .tabs {
    max-width: 170rem;
    padding: 1.5rem 2rem 10.5rem 2rem;
    margin: 0 auto;

    @media screen and (max-width: 41.25em){
      padding: 0;
    }
  }
}

.fancybox-content {
  border: 2.2rem solid $color-pink-light;
  max-width: 128.8rem;
}

.gallery-controls {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  max-width: 128.8rem;
  left: 50%;
  transform: translateX(-50%);

  z-index: 999999;
}

.fancybox-navigation {
  justify-content: space-between;
  display: flex;
}

.fancybox-infobar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poiret One", sans-serif;
  color: $color-black;
  font-size: 3.333333rem;

  @include alignment-vertical;

  svg {
    padding: 0 1rem;
  }
}

.fancybox-toolbar {
  top: 5rem;
  position: absolute;
  width: 100%;
  max-width: 128.8rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;
}

.fancybox-bg {
  background: none;
}

.gallery-container .gallery-wrapper {
  flex-direction: row;
}