.header {
  padding: 30.1rem 0 13.3rem 0;
  position: relative;
}

.image-collection {

  &__item {
    max-height: 31.1rem;
    max-width: 32.7rem;
    border: 2rem solid $color-white;
    width: 100%;
    z-index: 2;
    margin-right: 7.5rem;
    @include alignment-vertical;

    @media screen and (max-width: 104.375em) {
      margin-right: 3.5rem;
    }

    &:last-child {
      margin-right: 0;

      @media screen and (max-width: 73.125em){
        display: none;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }

    &--large {
      max-width: 85rem;
      background-color: $color-white;
      border-left: none;
      box-shadow: inset 0px 4px 40px rgba(0, 0, 0, 0.08);
      flex: 1;
    }
  }
}

.header-text {
  max-width: 52rem;
  margin: 0 4.9rem 0 0;
  text-align: right;
  align-self: flex-end;

  .icons-list {
    justify-content: flex-end;
    margin-top: 2.2rem;
    line-height: 0;
  }
}

.header-image {
  max-width: 108.7rem;
  max-height: 44.1rem;
  flex: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-wrapper {
  position: absolute;
  left: 0;
  top: 8.6rem;
  width: 100%;
}

.header-content {
  max-width: 165.6rem;
  margin: auto;
}