.menu {
  padding: 13rem 0 13.5rem 0;
  background-image: url("../img/Subtract.png");
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;

  @media screen and (max-width: 57.1875em) {
    padding: 8rem 0 8rem 0;
  }

  @media screen and (max-width: 38.125em){
    padding: 5.625rem 0 0 0;
    margin-bottom: 6.25rem;
  }

  .tabs {
    max-width: 166rem;
    margin: auto;
    padding: 0 2rem 9.4rem 2rem;

    @media screen and (max-width: 46.875em){
      padding: 0 2rem 5rem 2rem;
    }

    @media screen and (max-width: 41.25em){
      padding: 0;
    }
  }
}