.menu {
  padding: 13rem 0 13.5rem 0;
  background-image: url("../img/Subtract.png");
  background-repeat: no-repeat;
  background-size: contain;

  .tabs {
    max-width: 166rem;
    margin: auto;
    padding: 0 2rem 9.4rem 2rem;
  }
}