.navigation {
    justify-content: space-between;
    padding: 2.5rem 2rem 7rem 2rem;
    font-size: 2.1rem;
    background-color: $color-pink-light;
    border-top: 2.5rem solid $color-white;
    z-index: 3;

    &__inner {
        max-width: 169rem;
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.nav-list {
    @include reset-list;

    &__item {
        padding: 1rem;
        margin-right: 7.6rem;

        a {
            @include reset-links;
        }

        &--active {
            background-color: $color-white;
        }
    }
}

.basket {
    @include alignment-vertical;
    @include reset-links;

    span {
        padding-top: 1rem;
        margin-right: 1rem;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}