.navigation {
    justify-content: space-between;
    padding: 2.5rem 2rem 7rem 2rem;
    font-size: 2.1rem;
    background-color: $color-pink-light;
    border-top: 2.5rem solid $color-white;
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;

    transition: all .3s ease;

    @media screen and (max-width: 50.625em){
        display: flex;
        border-top: 1rem solid $color-white;
        padding: 3.125rem 4.375rem 3.17125rem 3.75rem;

        font-size: 2.625rem;
    }

    &__inner {
        max-width: 169rem;
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__logo {
        display: none;

        @media screen and (max-width: 50.625em){
            display: flex;
        }
    }

    &--sticky {
        background-color: $color-white;
        border-top: none;
        padding: 2.1rem 2rem 1.9rem 2rem;
        box-shadow: 0px 4px 30px rgba(51, 51, 51, 0.13);
        color: $color-black;

        z-index: 3;

        @media screen and (max-width: 50.625em){
            padding: 3.125rem 4.375rem 3.17125rem 3.75rem;
        }

        .navigation__inner {
            max-width: 170rem;
            position: relative;
        }

        .navigation__logo {
            @include alignment-vertical;
        }

        .nav-list {
            @media screen and (max-width: 50.625em){
                background-color: $color-white;
            }

            &__item {
                &:hover {
                    background-color: $color-pink-light;
                }

                &--active {
                    background-color: $color-pink-light;
                }
            }
        }
    }
}

.basket {
    @include alignment-vertical;
    @include reset-links;

    span {
        margin-right: 1rem;

        @media screen and (max-width: 50.625em){
            display: none;
        }
    }
}

.nav-list {
    @include reset-list;

    &__item {
        padding: 1rem;
        margin-right: 7.6rem;
        transition: background-color .3s ease;

        cursor: pointer;

        &:last-child {
            margin-right: 0;

            @media screen and (max-width: 50.625em){
                margin: auto;
                margin-bottom: 2.625rem;
            }
        }

        &:hover {
            background-color: $color-white;
        }

        a {
            @include reset-links;
        }

        &--active {
            background-color: $color-white;
        }

        &--basket {
            display: none;

            @media screen and (max-width: 50.625em){
                display: block;
            }

            span {
                @media screen and (max-width: 50.625em){
                    display: block;
                }
            }
        }

        @media screen and (max-width: 50.625em){
            width: max-content;
            margin: auto;
            padding: 1.25rem;
            margin-bottom: 3rem;
        }
    }

    @media screen and (max-width: 50.625em){
        display: none;
        position: absolute;

        flex-direction: column;
        left: 0;
        transform: translateY(100%);
        background-color: $color-pink-light;
        width: 100%;
        padding-top: 7.625rem;
    }

    &--open {
        display: flex;
        bottom: 0;

        animation: moveInBottom .7s ease;
    }
}

.burger-icon {
    display: none;
    cursor: pointer;

    & svg path {
        transition: 0.4s all ease-in;
    }

    @media screen and (max-width: 50.625em){
        display: flex;
        @include alignment-vertical;
    }

    &--active {
        svg {
            path:nth-child(1),
            path:nth-child(3),
            path:nth-child(5),
            path:nth-child(8),
            {
                opacity: 0.2;
            }
        }
    }
}