.testimonials {
  margin: 15.3rem auto 7.8rem auto;
  max-width: 145.9rem;
  width: 100%;
  position: relative;

  @media screen and (max-width: 106.25em){
    padding: 0 6rem;
  }

  @media screen and (max-width: 53.125em){
    padding: 0 9rem;
  }

  @media screen and (max-width: 37.5em){
    padding: 0 0 0 2rem;
    margin: 13.75rem 0 0 0;
  }
}

.testimonial-button-prev, .testimonial-button-next {
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);

  @media screen and (max-width: 37.5em) {
    top: 15rem;
    transform: none;
  }
}

.testimonial-button-prev {
  left: -9.9rem;

  @media screen and (max-width: 106.25em){
    left: 1rem;
  }

  @media screen and (max-width: 53.125em){
    left: 2rem;
  }

  @media screen and (max-width: 37.5em) {
    left: 0;
  }
}

.testimonial-button-next {
  right: -5.9rem;

  @media screen and (max-width: 106.25em){
    right: 1rem;
  }

  @media screen and (max-width: 53.125em){
    right: 2rem;
  }

  @media screen and (max-width: 37.5em) {
    right: 0;
  }
}