.testimonials {
  margin: 15.3rem auto 7.8rem auto;
  max-width: 145.9rem;
  width: 100%;
  position: relative;

  @media screen and (max-width: 102.1875em){
    width: 100%;
    max-width: none;
    padding: 0 8rem;
  }
}

.testimonial-button-prev, .testimonial-button-next {
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
}

.testimonial-button-prev {
  left: -9.9rem;

  @media screen and (max-width: 106.25em){
    left: 1.9rem;
  }
}

.testimonial-button-next {
  right: -9.9rem;

  //@media screen and (max-width: 106.25em){
  //  right: 1.9rem;
  //}
}