doctype html
html
    head
        title Повидло
        meta(charset="UTF-8")
        meta(name="keywords" content="")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="theme-color" content="#fff")
        meta(name="msapplication-navbutton-color" content="#fff")
        meta(name="apple-mobile-web-app-status-bar-style" content="#fff")
        meta(name="author" content="CIT Lab")
        link(rel="stylesheet", href="css/main.min.css")
        style.
            body{
                opacity: 1;
                overflow-x: hidden;
            }
            html{
                background-color: #fff;
            }
    body
        main
            include includes/navigation
            include includes/order-table
            include includes/delivery
            include includes/footer

        script(type="text/javascript" src="js/scripts.min.js")