// COLORS
$color-primary: #6C6C6C;
$color-primary-dark: #858585;

$color-pink-dark: #F1DAE2;
$color-pink-light: #F1E8EB;

$color-red: #FF033F;

$color-green: #CDE1C6;

$color-yellow: #FCA016;

$color-white: #fff;
$color-black: #000;

$color-grey: #333333;
$color-grey-light: #E5E5E5;
$color-grey-dark: #33333380;


// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;

$dishes-gutter-horizontal: 6rem;
$dishes-gutter-vertical: 5.6rem;

$news-gutter-horizontal: 4.2rem;
$news-gutter-vertical: 0;